/* Layout Containers */
.pet-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
}

/* Left Column: Pet List */
.pet-list-container {
    max-height: calc(4 * 108px);
    overflow-y: auto;
    width: 360px;
}

.pet-list-title {
    margin: 0;
    padding-bottom: 1rem;
}

/* Pet & Add Pet Cards */
.pet-card,
.add-pet-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    margin: 16px;
    background-color: white;
    cursor: pointer;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;/
}

.pet-card:hover,
.add-pet-card:hover {
    background-color: #f3f6f4;
}

/* Add Pet Form Card */
.add-pet-form-card {
    position: relative;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    padding: 20px;
    background-color: white;
}

/* Close Button */
.close-add-pet {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 1.25rem;
    color: #333;
    cursor: pointer;
}

/* Add Pet Form */
.add-pet-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 30px 30px;
}

.add-pet-form .form-control,
.add-pet-form .form-select {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

.add-pet-form .form-group,
.add-pet-form .form-label {
    width: 100%;
    max-width: 100%;
}

/* File Upload Field */
.photo-field {
    margin-top: 5px;
}

/* Add Pet Button */
.add-pet-btn {
    width: 100%;
    max-width: 300px;
    padding: 10px !important;
    background-color: #c1d8c3 !important;
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    font-size: 1.2rem !important;
    height: 60px !important;
}

/* Pet Photo and Icon */
.pet-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    background: #f3f6f4;
    padding: 2px;
}

.gender-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    vertical-align: middle;
    margin-left: 5px;
}

/* Pet Name Styling */
.pet-name {
    margin: 2px;
}